body {
    background-color: #000;
}

.console-image {
    width: 50%;
    margin: 20px auto;
}

.console-image img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: #fff;
}